extends layout

block content
 
  h1 Welcome to the Legendary Adventurers Club
  if currentUser
    span Logged in as #{user.username}

  if messages.length > 0
    each message in messages 
      div 
        h3= message.title
        if currentUser && currentUser.memberStatus 
          span= message.user.fullName + ' '
          span= message.formattedTimeStamp 
          if currentUser.admin 
            form(action=`delete-message/${message.id}` method="POST")
              input#messageID(type="hidden" name=message.id)
              button(type="submit") Delete 
        p= message.text

        
  else 
    p No messages to display